body {
    background-color: #fff;
	margin:0px;
	padding:0px;
	
		
}
#topNav a:link{
	font-family: "Futura";
	font-size: 50px;
	color: #fff;
}
#topNav a:visited{
	color: #fff;
}
#topNav a:hover{
	color:#000;
}
h1{
	font-family: "Futura";
	text-align: center;
	/*Underline 2.0*/
	border-bottom: 1px solid;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 10px;
}
h2{
	text-decoration: none;
	margin-left:10px;
	font-family: "Futura";
	text-align: left;
	font-size:18px;
	color: #586af9;
}
#topNav{
	background: #586af9;
}
#topNav li{
	display: inline-block;
	background:#586af9;
	padding-left:7px;
	padding-right:7px;
	padding-top:0px;
	padding-bottom:0px;
	margin-left:-2px;
	margin-right:-2px;
}
.paragraph ul{
	list-style-type:none;
}
.paragraph li{
	color:#586af9;
}
#topNav li:hover{
	background:#fff; 
}
#content{
	margin-top:80px;
	width:800px;
}
#content p{
	margin-left:10px;
	font-size:16px;
}