body {
    background-color: #fff;
		
}
a:link{
	color: #05c;
}
a:visited{
	color: #1f7cff;
}
a:hover{
	color: #3df9ff;
}
a:active{
	color: #05cfd6;
}

h1{
	text-align: center;
	/*Underline 2.0*/
	border-bottom: 1px solid;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 10px;
}